.btn {
    display: block;
    width: 100%;
    color: $color-lightest;
    font-size: 1.125em;
    border: 1px solid $color-lightest;
    border-radius: $border-radius;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-lightest;
        color: $color-darkest;
        cursor: pointer;
    }

    &.incorrect {
        background-color: $color-lightest;
        color: $color-darkest;
        &:hover {
            cursor: not-allowed;
        }
    }
}