// Border colors
.border-green {border-color: $color-green;}
.border-green--light {border-color: $color-green--light;}
.border-orange {border-color: $color-orange;}
.border-red {border-color: $color-red;}
.border-blue {border-color: $color-blue;}
.border-purple {border-color: $color-purple;}

// Background colors

.background-green {background-color: $color-green;}
.background-green--light {background-color: $color-green--light;}
.background-orange {background-color: $color-orange;}
.background-red {background-color: $color-red;}
.background-blue {background-color: $color-blue;}
.background-purple {background-color: $color-purple;}