// Colours
$color-green: #1B3814;
$color-green--light: #479015;
$color-orange: #F99406;
$color-red: #DC2A05;
$color-blue: #0A91FC;
$color-purple: #053ACC;

$color-darkest: #444648;
$color-lightest: #F8F4F0;


// Fonts
$font-primary: 'Bowlby One SC', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
